body{
    background-image:url(../assets/background12.png);
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
}
.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12vw;
    margin-top: -40px;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:55vw;
    margin-top: 70px;
    margin-left: 13vw;
}

.navbar li{
    list-style-type: None;
    display: inline;
    font-family:Trebuchet MS;
    float:right;
    color:#979797;
    padding:0 20px;
    border-right: 3px solid #979797;
    
}
.navbar  li a{
    color:#979797;
    text-decoration:none;
    background-color:white;
    transition:0.3s,ease;
}
.navbar a:hover{
    background-color: #979797;
    color: white;
}
.hover:hover{
    background-color: white;
}
.logo{
    margin-left:5vw;
    margin-top: 60px; 
    position: absolute;
    width:150px;
    height:40px;
}
.container{
    border-bottom: 1px solid #E2E2E2;
    border-top: 1px solid #E2E2E2;
    padding: 2px 0;
}
.wall{
    background:#d9d9d9;
}
nav{
    width:65%;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(2,auto);
    align-items: center;
}

.wall-feed{
    margin:0;
    padding:0;
    list-style-type:none;
    display: flex;
}
.wall-feed li a{
    color:black;
    padding:1rem;
    text-decoration: none;
}
.wall-feed li{
    padding-top: 0.5rem;
    padding-bottom:0.5rem;
    border-right:1px solid white;
}
.wall-feed li:first-child a{
    padding-left:0.5rem;
}
.search-bar form input{
    width:200px;
    border:none;
    padding-left:5px;
    padding-top:5px;

}
.search-bar form {
	width: fit-content;
    margin: 0 1em 0 auto;
	

}
.container-2{
    border-bottom: 3px solid #E2E2E2;
    width:100%;
    height:40px;
}
.register{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top:-12px;
    margin-left:16vw;
    width:75vw;

}
.register li{
    display: inline;
    align-items: center; 
    justify-content: space-between;
    font-family:Trebuchet MS;
    font-size: 14px;
}
.register li a{
    text-decoration: none;
    color:#6A6E7D;

}
.dot{
    height:5px;
    width: 5px;
    background-color:white;
    border: 2px solid #6A6E7D;
    border-radius: 25px;
    
}
main{
    margin:auto;
    width:65%;
  }
  .content{
      display: flex;
      justify-content: space-between;
  }
  .content-container{
      padding:0.5em;
      background-color: white;
  }
  .content a{
    color:#9497A8;
    font-size: 1em;
  }
  .menu {
	background: rgb(51, 50, 50);
	padding: 1em 4em 2em 2em;
    outline: 3px solid #4C4A4A;
    outline-offset: -10px;
}
.menu-options {
	margin: 1.5em 0;
	padding: 0;
	list-style-type: none;
}

.menu-options li {
	padding: 0.5em 0.5em;
}

.menu-options li:not(:last-child) {
	border-bottom: 1px solid #8c8b8a;
}

.menu-options li a {
	text-decoration: none;
	color: #cfcdcb;
	font-size: 1em;
	margin-left: 0;
}

.left{
   width:110%;
   margin-right: 0.5em;
}

h1{
    font-size: 1.5em;
    padding-top: 12%;
    color:#EDEBEC;
    font-weight: normal;
}
h2{
    color:#9497A8;
    font-size: 1em;
}

.bottom-container {
	background: #2e2f2c;
	padding: 0.5em;
}

.bottom-part {
	background: #fff;
	display: grid;
	grid-template-columns: repeat(3,1fr);
}

.part {
	position: relative;
	height: 170px;
}

.part img {
	display: block;
	position: absolute;
	bottom: 0;
}

.glass img {
	left: 0;
}

.album img {
	right: 0;
}

.info {
	width: 100%;
	height: 85%;
	position: absolute;
	top: 0;
	left: 0;
	border-right: 2px solid #eaeaea;
}

.info h2 {
	font-weight: normal;
	color: #979797;
	margin: 0;
	font-size: 110%;
}

.info h5{
	margin: 0;
	margin-top: 1%;
	font-size: 80%;
	color: #979797;
}

.info a {
	color: #979797;
	font-size: 90%;
}


.glass .info {
	width: 90%;
	top: 8%;
	left: 6%;
}

.glass .info a {
	float: right;
	margin-top: 6%;
	margin-right: 16%;
}

.plates .info {
	width: 90%;
	height: 85%;
	top: 8%;
	left: 4%;
}

.plates .info a {
	float: right;
	margin-right: 15%;
	margin-top: 5%;
}

.album .info {
	border: none;
	left: 2%;
	top: 8%;
	width: 90%;
}

.album .info h2 {
	width: 45%;
}

.album .info h5 {
	float: left;
	margin-top: 2%;
	width: 55%;
}

.album .info a {
	float: left;
	margin-top: 5%;
	margin-right: 10%;
}
footer {
	width: 65%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 0.5% 0;
}

footer a {
	font-size: 0.9em;
	color: #8e8d8f;
	text-decoration: underline;
}

.footer-links {
	margin: 0 0 2% 0;
	padding: 0;
	list-style-type: none;
	display: flex;
}

.footer-links li {
	padding: 0 2%;
	border-left: 1px solid #8e8d8f;
}

.footer-links li:first-child {
	padding-left: 0;
	border-left: none;
}

footer p {
	color: #8e8d8f;
	font-size: 0.9em;
	margin: 0 0 2% 0;
}

.mail {
	font-size: 1em;
}

.login  form input {
	font-size: 0.9em;
	width: 60%;
	border: none;
	padding: 3px 0;
	padding-left: 5px;
	box-shadow: 2px 2px 2px #737373 inset;
}

.login form buttom  {
	padding: 2px 5px;
}
@media only screen and (max-width:500px){
	.part img {
		width: 100px;
		height: 60%;
	}
	.album .info {
		width: 100%;
	}

	.part .info {
		width: 100%;
		text-align: center;
    }

	footer {
		display: inline-block;
		padding: 0 2%;
        text-align: center;
	}
	footer p {
		font-size: 1em;
	}

	.footer-links {
		justify-content: center;
	}

	.footer-links li a {
		font-size: 1em;
	}

	.login form input {
		font-size: 1em;
	}

	.login form button {
		font-size: 1em;
	}
}
@media only screen and (max-width:1050px)
{
    .navbar li{
        border-right: none;
        font-size: 1.5em;
    
    }
   .search-bar{
        text-align: center;
        padding:0 10px;
        width:35%;
        margin-left: -4%;
    }
    .container-2{
        border-bottom: none;
        margin-top: 2%;
        height: max-content;
    }
    .register{
      flex-direction: column;
      align-items: flex-start;
     margin-top: 2%;
      margin-left:-3vw; 
      width:100vw;
    }
    .logo{
        width:350px;
        height:80px;
    }
    .register li{
        font-size: 1.5em;
        float:left;
      }  
      .navbar{
        flex-direction: column;
        text-align: left;
        margin-top: 140px;
        padding-left: 0px;
        padding-right: 0px;
        width:max-content;
        margin-left: -12vw;
        align-items: flex-start;
    }
    .navbar a:hover{
        background-color: #979797;
        color: white;
    }
    .hover:hover{
        background-color: black;
        width:max-content;
        color: #979797;
    }  

}
@media only screen and (max-width:1120px){
    .content{
        display: inline;
        width:100%;
    }
	.left{
        width:100%;
    }
    .menu h1 {
		font-size: 1.75em;
	}

	.menu h2 {
		font-size: 0.9em;
		margin: 0 0.3em;
	}

	.menu-options {
		margin: 1em 0;
	}

	.menu-options li a {
		font-size: 1.05em;
	}

	.menu > a {
		font-size: 0.9em;
	}

	.bottom-part {
		grid-template-columns: auto;
	}

	.part {
		position: static;
		display: grid;
		grid-template-columns: auto auto;
	}

	.part img {
		position: static;
		margin: 0;
        
	}

	.info {
		position: static;
		border-right: none;
		margin: 5% 0 0 auto;
		width: 50%;
	}

	.album .info h2 {
		width: 70%;
	}

	.album .info h5 {
		width: 100%;
	}

	.album .info a {
		width: 100%;
	}
}
@media only screen and (max-width:1400px){
    main{
        width:95%;
    }
    footer{
        width:95%;
    }
    nav {
		display: block;
	}

	.wall-feed {
        flex-direction: column;
		border-bottom: 1px solid #fff;
        margin-left: -16vw;
	}

	.wall-feed li {
		border: none;
	}
	.search-bar {
		text-align: center;
		padding: 1% 0;
	}

	.search-bar form {
		margin-left:-12vw;
	}

	
    /*.wall-feed
       {
          flex-direction: column;
          text-align: right;
          background-color:#979797;
          margin-left: 4px;
          margin-top: 1%;
          margin-bottom: 2%;
          align-items: flex-start;
          height:max-content;
          width:100%;
        }
      .wall-feed li{
        font-size: 30px;
        margin-left: 0%;
        border-right: none;
        
        }
    .container{
        border-bottom: none;
        border-top: none;
    }
    .wall-feed  li a{
        color:white;
        font-size: 20px;
    }
   .search-bar{
        text-align: center;
        width:75%;
        height: 10%;
        margin-left: 0%;
        padding: 0 10px;
        font-size: 25px;
    }*/
    button{
        margin-left: 2%;
        font-size: 20px;
    }
    .h-nav-resp{
        height:0px;
    }
    .v-class-resp{
        opacity: 0;

    }
    .navbar-toggler {
        display: block;
        position: absolute;
        float: left;
        height: 40px;
        top: 35px;
        left: 25px;
        background-color: transparent;
        color: black;
        border: 3px solid black;
        outline: none;
        cursor: pointer;
      }
      .navbar-toggler span,
      .navbar-toggler span::before,
      .navbar-toggler span::after {
        display: block;
        content: '';
        background-color: black;
        height: 3px;
        width: 28px;
        border-radius: 4px;
        transition: all ease-in-out 0.3s;
      }
      .navbar-toggler span::before {
        transform: translateY(-8px);
      }
      .navbar-toggler span::after {
        transform: translateY(5px);
      }
    
}