body{
    background-image:url(../assets/background12.png);
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
}
.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12vw;
    margin-top: -40px;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    margin-top: 70px;
    margin-left: 11vw;
}

.navbar li{
    list-style-type: None;
    display: inline;
    font-family:Trebuchet MS;
    float:right;
    color:#979797;
    padding:0 20px;
    border-right: 3px solid #979797;
    
}
.navbar  li a{
    color:#979797;
    text-decoration:none;
    background-color:white;
    transition:0.3s,ease;
}
.navbar a:hover{
    background-color: #979797;
    color: white;
}
.hover:hover{
    background-color: white;
}
.logo{
    margin-left:6vw;
    margin-top: 60px; 
    position: absolute;
    width:150px;
    height:40px;
}
.container{
    border-bottom: 1px solid #E2E2E2;
    border-top: 1px solid #E2E2E2;
}
.wall-feed{
    display:flex;
    align-items: center;
    background-color:#D7D5D6;
    height:42px; 
    width:100vw;
    border-bottom: 1px solid #E2E2E2;
    border-top: 1px solid #E2E2E2;
    margin-bottom:-15px;
    margin-top: 1px;
}
.wall-feed li{
    display: inline;
    align-items: center;
    justify-content: space-between;
    border-right:3px solid #E4E3E2; 
    list-style-type:none;
    padding:0 40px;
    font-family:Trebuchet MS;
    font-size: 14px;
    float:right;
    color: black; 
}
.wall-feed  li a{
    color:black;
    text-decoration:none;
}
.wall-feed hover{
    background-color: white;
    color:green;
}
.container-2{
    border-bottom: 3px solid #E2E2E2;
    width:100%;
    height:40px;
}
.register{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top:10px;
    margin-left:17vw;
    width:75vw;

}
.register li{
    display: inline;
    align-items: center; 
    justify-content: space-between;
    font-family:Trebuchet MS;
    font-size: 14px;
}
.register li a{
    text-decoration: none;
    color:#6A6E7D;

}
.dot{
    height:5px;
    width: 5px;
    background-color:white;
    border: 2px solid #6A6E7D;
    border-radius: 25px;
    
}

.left{
    padding-left:0vw;
    margin-left: 17vw;
    border: 5px solid white;
     width:38vw;height:46vh; 
    margin-top: -0.8%; 
}

h1{
    padding-top: 12%;
    color:#EDEBEC;
}
h2{
    color:#9497A8;
    font-size: 15px;
}
.bottom{
    margin-left:19vw;
    width:93vw;
    margin-top: -14px;  
     
}

.column {
    float: left;
    width: 20%;   
    padding: 0 8px;
    background-color: white;
    height:200px;
    overflow: hidden;
}
.column img{
    width:8vw;
}
  .points{
      color: #E2E0E1;
      border-bottom: 2px solid #4C4A4A;
      width:15vw;
      padding: 5px 5px;
      font-size: 13px;
  }
  .content a{
    color:#9497A8;
    font-size: 13px;
  }
  .right{
    background-color: black;
    width:16vw;
    height:46vh;
    padding-left: 2%;
    padding-right: 2%;
    overflow: hidden;
    margin-left: 55.5vw;
    margin-top:-47vh;
    outline: 3px solid #4C4A4A;
    outline-offset: -10px;
  }
  h5{
      color:#979797;
  }
  .column a{
      float:right;
      color: #979797;
      font-size: 15px;
      padding-right: 30px;
      text-decoration: none;
  }
  h6{
    color: #979797;
    font-size: 15px;
    padding-right: 30px;
    text-decoration: none;float:left;

  }
  .image{
     float: right;
     padding-right: -20px;

     margin-top: -3vh;
  }
  .footer{
    margin-top:20vh;
    width:92vw; 
    margin-left: 6.5vw;
    

  }
  .links-part{
     padding-left: 13vw;
      float:left;
      display:flex;
    align-items: center;
    justify-content: space-between;

  }
  .links-part li{
    display:inline;
    align-items: center;
    justify-content: space-between;
      color: #979797;
      text-decoration: underline;
  }
  .links-part li a{
      color: #979797;
      justify-content: space-between;
  }
  .signup{
      margin-right:22vw;
      float:right;
      margin-top:-1vh;
      color:#979797;
      font-size: 15px;

  }
  p{
      margin-top: 4vh;
      float:left;
      margin-left: -14.8vw;
      color: #979797;
      font-size: 15px;
  }
  .email{
    float:right;
    margin-top:-1vh;
    margin-right: 22vw;
    font-size: 15px;

  }
  .copyright{
    margin-top:1vh;
    float:left;
    margin-left: -24vw;
    color: #979797;
    font-size: 15px;
  }
  
  @media only screen and (max-width:400px){
    .wall-feed{
          flex-direction: column;
          text-align: right;
          background-color:#979797;
          margin-left: 4px;
          margin-top: 1%;
          margin-bottom: 2%;
          align-items: flex-start;
          height:100%;
          width:230vw;
      }
      .wall-feed li{
        font-size: 30px;
        margin-left: -8%;
        border-right: none;
        
    }
    .container{
        border-bottom: none;
        border-top: none;
    }
    .wall-feed  li a{
        color:white;
        font-size: 20px;
    }
   
    .navbar li{
        border-right: none;
    }
   .search-bar{
        text-align: center;
        padding:0 10px;
        width:35%;
        margin-left: -4%;
    }
    .h-nav-resp{
        height:0px;
    }
    .v-class-resp{
        opacity: 0;

    }
    .logo{
        margin-left: 5vw;
        height:60px;
        width:200px;
    }
    .container-2{
        border-bottom: none;
        margin-top: 2%;
        height: max-content;
    }
    .register{
      flex-direction: column;
      align-items: flex-start;
     margin-top: 2%;
      margin-left:-6vw; 
      width:100vw;
    }
    .register li{
        font-size: 25px;
        float:left;
        

      }      
    .content{
      flex-direction: column;
      align-items: flex-start;
     

    }
    .left {
     width: 250vw;
     height: 70vh;
     margin-left: -33%;
    }
    .right{
        padding: 0 20px;
        margin-top:-4vh;
        margin-left: -13%;
        width:220vw;
        height: 600px;
    }
    .content a{
        font-size: 20px;
    }
    .points{
        font-size:22px;
    }
    .navbar{
        flex-direction: column;
        text-align: left;
        margin-top: 140px;
        padding-left: 0px;
        padding-right: 0px;
        width:max-content;
        margin-left: -14vw;
        align-items: flex-start;
    }
    .navbar a:hover{
        background-color: #979797;
        color: white;
    }
    .hover:hover{
        background-color: black;
        width:max-content;
        color: #979797;
    }
    h1{
        font-size: 35px;
    }
    h6{
        font-size: 20px;
    }
    .column a{
        font-size: 20px;
    }
    .navbar li{
        
        font-size: 25px;
    }
    
    .left img{
        width:100%;
        height:20vh;
        margin-left: -3vw;

    }
    .links-part {
     margin-left: -240vw;
        display: block;
        margin-top: 37vh;
        
    }
    .footer{
        flex-direction:column;
        display: block;
        width: max-content;
    }
    .bottom{
        flex-direction: column;
        width:600px;
        margin-left: 11%;
        height: max-content;
    }
    .column{
        width:232vw;
        height: 300px;
        margin-left: -8%;
        margin-top: -1%;
    }
    .column img{
        width:70vw;
    }
    h2{
        font-size: 30px;
    }
    h5{
        font-size: 25px;
    }
    .image{
     width:2vw;
     margin-top: -10vh;
     margin-right: 32%;
    }
   
    .links-part li{
        font-size: 25px;

    }
    .signup{
        margin-right:290vw;
        
        margin-top: 2vh;
        width: max-content;
        font-size: 25px;
    }
    .email{
      margin-right:83%;
      margin-top:-16vh;
      width:max-content;
      font-size: 25px;
    }
    p{
      margin-left:0%;
      margin-top: 1%;
      font-size: 25px;
      width:650px;
    }
    .copyright{
        float:left;
        margin-top: -1%;
        margin-left: 0%;
        font-size: 25px;
        width:100%;
    }
    .navbar-toggler {
        display: block;
        position: fixed;
        float: left;
        height: 40px;
        top: 35px;
        left: 25px;
        background-color: transparent;
        color: black;
        border: 3px solid black;
        outline: none;
        cursor: pointer;
      }
      .navbar-toggler span,
      .navbar-toggler span::before,
      .navbar-toggler span::after {
        display: block;
        content: '';
        background-color: black;
        height: 3px;
        width: 28px;
        border-radius: 4px;
        transition: all ease-in-out 0.3s;
      }
      .navbar-toggler span::before {
        transform: translateY(-8px);
      }
      .navbar-toggler span::after {
        transform: translateY(5px);
      }
}

/*
 @media only screen and (max-width:1245px)
  {
    .wall-feed{
        flex-direction: column;
        text-align: right;
        background-color: white;
        margin-left: -2000px;
        
    }
    .wall-feed li{
        font-size: 20px;
        margin-left: 20%;
    }
    .search-Bar{
        text-align: center;
        width:50%
    }
    .h-nav-resp{
        height:22px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .logo{
        margin-left: -220px;
    }
    .navbar{
        flex-direction: column;
        text-align: left;
        margin-left:auto; 
        margin-top: 110px;
        width:100%
    }
    .navbar li{
        margin-left: -350px;
        font-size: 20px;
    }
    .register{
        flex-direction: column;
        margin-left:auto; 
        width:100%;
    }
      .register li{
          font-size: 20px;
          margin-left:-60px;
    } 
         
 }
 @media only screen and (max-width:1484px) {
    .content{
        flex-direction: column;
        margin-left: -30%;
        width:max-content;
        height:max-content;
      }
      .right{
          margin-top: -16%;
          margin-left: 94%;
      }
      .left{
          height:200px;
          margin-left: 4%;
      }
      .links-part {
        margin-left:-875px;
        flex-direction: column;
        display: block;
        margin-top: -1px;
    }
    .footer{
        flex-direction:column;
        display: block;
        margin-left: 55%;
        margin-top: 20%;
    }
    .bottom{
        flex-direction: column;
        width:1600px;
        margin-left: 3%;
    }
    .signup{
        margin-right:80%;
        
        margin-top: -2%;
        width: max-content;
        font-size: 15px;
    }
    .email{
      margin-right:80%;
      margin-top: -1%;
      width:max-content
    }
    p{
      margin-left:-39%;
      margin-top: 2%;
      font-size: 15px;
    }
    .copyright{
        margin-top:27px;
        float:left;
        margin-left: -625px;
        color: #979797;
      }
}
@media only screen and (max-width:1315px){
    .right{
        margin-top: -16%;
        margin-left: 90%;
    }
    .left{
        height:200px;
        margin-left: -2%;
    }
}
@media only screen and (max-width:1160px){
    .right{
        margin-top: -16%;
        margin-left: 85%;
    }
    .left{
        height:200px;
        margin-left: -5%;
    }
}
@media only screen and(max-width:1076px){
    .right{
        margin-top: -16%;
        margin-left: 85%;
    }
    .left{
        height:200px;
        margin-left: -5%;
    }
}
    */